@font-face {
  font-family: LexendDeca;
  src: url(../../fonts/LexendDeca-Regular.ttf);
}

.panel-esquerdo{
  background: linear-gradient(180deg, #26033B 20.1%, #26033B 22.4%, #26033B 76.27%, #410C45 100%);
  background-attachment: fixed;
  width: 58vh;
  height: 100vh;
  border-top-right-radius: 5vh;
  border-bottom-right-radius: 20px;
  position: fixed;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 0px 34px 34px 0px;
}


.boas-Vindas{
  color: #F3B106;
  font-family: LexendDeca;
  font-size: 27px;
  position: relative;
  top: 40%;
  left: 3%;
  font-weight: bolder;
}


.input-cpflogin{
  background-color: #F9F9F9;
  border-color: transparent;
  border-bottom-color: #787575;
  opacity: 0.8;
  width: 80%;
 
}

.input-senha{
  background-color: #F9F9F9;
  border-color: transparent;
  border-bottom-color: #787575;
  width: 80%;
  opacity: 0.8;
  margin-top: 8vh;
}

.img-loja{
  border-radius: 30px;
  background: #FFFFFF;
  border: 3px solid #F3B106;
  box-sizing: border-box;
  bottom: 89.77%;
  position: fixed;
  left: 120px;
  right: 120px;
  top: -45px;
  justify-content: center;
  background-image: url(../../assets/images/leve.png);
  background-repeat: no-repeat;
  display: flex;
}

.form-login{
  position: relative;
  top: 25%;
  left: 10%;
}

.button-continuar{
  display: block;
  background-color: #F9F9F9;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 1vh;
  position: relative;
  width: 70%;
  padding: 4%;
  left: 5.4%;
  border-color: transparent;
  margin-top: 15%;
  text-align: left;
}

.button-continuar:active{
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.link-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.label-senha{
  color: #2C2C2D;
  margin-left: 66px;
  margin-top: 70px;
  position: absolute;
  text-decoration: none;
  box-shadow: none;
}

.label-cadastro{
  color: #2C2C2D;
  margin-left: 61px;
  margin-top: 70px;
  position: absolute;
  text-decoration: none;
  box-shadow: none;
}

.caption-buttonfinalizar{
  color: #fff;
  justify-content: center;
  display: flex;
}

.label-senha:hover{
  color: #6b6a6a;
  align-items: center;
}

.label-cadastro:hover{
  color: #6b6a6a;
  align-items: center;
}

.icon-login{
  position: absolute;
  left: 210px;
 
}



